#backgroundAbout {

  position: absolute;
  width: 100%;
  height: 100%;
/*  background: rgba(128,222,234 ,1); */

}

#selectorCategoriasAbout {

  position: absolute;
  width: 100%;
  top: 20%;
  background: rgba(70,140,250,0.0);
  overflow: hidden;
  white-space: nowrap;


}

#infoCategoria {

  position: absolute;
  top: 40%;
  width: 50%;
  left: 6.25%;
  color: white;
  background: rgba(40,100,160,0.0);

}

.categorias {
  color: rgba(255,255,255,0.6);
  margin: auto 2.5%;
  display: inline-block;
  background: rgba(150,140,40,0.0);

}

.seletedCategoria{
  color: rgba(255,255,255,1);
}

.categorias:hover {
  cursor: pointer;
}

#mover {
background: rgba(50,20,160,0.5);

}
