#backgroundAbout {
  position: absolute;
  width: 100%;
  height: 100%;
/*  background: rgba(128,222,234 ,1); */
}

.responsive{
  display: none;
}

.noResponsive{
  display: block;
}


#selectorCategoriasAbout {

  position: absolute;
  width: 100%;
  top: 20%;
  background: rgba(70,140,250,0.0);
  overflow: hidden;
  white-space: nowrap;


}

#infoCategoria {

  position: absolute;
  top: 40%;
  width: 43.50%;
  left: 6.25%;

  background: rgba(40,100,160,0.0);

}

#infoCategoria h3{
  color: rgba(253,144,64,1);
}

#infoCategoria p{
  font-family: RobotoMono, sans-serif;
  color: rgba(255,255,255,1);
}

.categorias {
  color: rgba(255,255,255,0.6);
  margin: auto 2.5%;
  display: inline-block;
  background: rgba(150,140,40,0.0);

}

.seletedCategoria{
  color: rgba(253,144,64,0.9);
}

.categorias:hover {
  cursor: pointer;
  color: rgba(253,144,64,0.9);
}

#mover {
background: rgba(50,20,160,0.5);

}


#divImage {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 45%;
}

#fechina {
  margin: 0;
  position: absolute;
  text-align: center;
  width: 90%;
  left: 50%;
  color: white;
  top: 50%;
  transform: translate(-50%,-20%);
}


#divContacto {
  position: absolute;
  left: 18.75%;
  top: 45%;
  width: 62.5%;
}


.pruebina {
  display: flex;
  flex-wrap: nowrap;
  margin: 3% 0;
}

.contactoTextoDorado {
  margin: 0;
  margin-right: 4%;
  color: rgba(253,144,64,1);
}

.contactoTextoBlanco {
  margin: 0;
  margin-left: 4%;
  color: rgba(255,255,255,1);
}

#imagenQUE {
  position: absolute;
  left: 56.25%;
  top: 40%;
  width: 31.25%;
  height: 45%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



@media only screen and (max-width : 640px) {
  .noResponsive{
    display: none;
  }
  .responsive{
    display: block;
  }
  #imagenQUE {
    left: 0;
    top: 55%;
    width: 100%;
    height: 30%;
  }

  #infoCategoria {

    top: 22%;
    width: 90%;
    left: 5%;

  }
  #selectorCategoriasAbout {

    top: 15%;


  }
}
