<div id="backgroundAbout">
  <div id="selectorCategoriasAbout"  #containerSelector>

    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'QUE'}" (click)="asignarInfo('QUE')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">QUE?</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'QUIEN'}" (mouseenter)="onNextSearchPosition(0)" (click)="asignarInfo('QUIEN')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">QUIEN?</h2>
    <h2 class="categorias" (mouseenter)="onNextSearchPosition(0)" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">DONDE?</h2>
    <h2 class="categorias"  (mouseenter)="onNextSearchPosition(onNextSearchPosition(calcularFinalScroll()))" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">CUANDO?</h2>
    <h2 class="categorias" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">DONDE?</h2>
    </div>


  <div id="infoCategoria" #containerInfoText>
   <p [fittext] [activateOnResize]="true" [container]="containerInfoText" [minFontSize]="5" [compression]="8">{{seletedInfo}}</p>
  </div>

</div>

