<div id="backgroundAbout">
  <div id="selectorCategoriasAbout"  #containerSelector>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'QUE'}" (click)="asignarInfo('QUE')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">QUÉ?</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'QUIEN'}" (click)="asignarInfo('QUIEN')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">QUIÉN?</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'DONDE'}" (mouseenter)="onNextSearchPosition(getScrollLeft(), 'izquierda', false)" (click)="asignarInfo('DONDE')"  [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">DÓNDE?</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'CUANDO'}" (mouseenter)="onNextSearchPosition(calcularFinalScroll()/1.5, 'derecha', true)"  (click)="asignarInfo('CUANDO')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">CÚANDO?</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'CONTACTO'}" (click)="asignarInfo('CONTACTO')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">CONTACTO</h2>
    <h2 class="categorias" [ngClass]="{'seletedCategoria': selectedSection == 'PATROCINADORES'}" (mouseenter)="onNextSearchPosition(calcularFaltante(), 'derecha', false)" (click)="asignarInfo('PATROCINADORES')" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1.8">PATROCINIOS</h2>

    </div>


  <iframe *ngIf="selectedSection == 'DONDE'" id="divImage" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.0335104705873!2d-76.53292528469565!3d3.341884797567281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a1eb92747ff7%3A0x109da9c9c87832bc!2sICESI!5e0!3m2!1sen!2sco!4v1508056545814" frameborder="0" style="border:0" allowfullscreen></iframe>
  <h2 *ngIf="selectedSection == 'CUANDO'" id="fechina" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="1">{{cuando}}</h2>

  <div id="divContacto" *ngIf="selectedSection == 'CONTACTO'">
    <div class="pruebina"><h4 class="contactoTextoDorado" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">CORREO</h4><h4 class="contactoTextoBlanco" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">hoyesdiseno.mail@gmail.com</h4></div>
    <div class="pruebina"><h4 class="contactoTextoDorado" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">DIRECCIÓN</h4><h4 class="contactoTextoBlanco" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">UNIVERSIDAD ICESI, CALLE 18 # 122-135</h4></div>
    <div class="pruebina"><h4 class="contactoTextoDorado" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">TELEFONO</h4><h4 class="contactoTextoBlanco" [fittext] [activateOnResize]="true" [container]="containerSelector" [minFontSize]="5" [compression]="5">{{telefono}}</h4></div>
  </div>


  <div *ngIf="selectedSection == 'QUE' || selectedSection == 'QUIEN'" id="infoCategoria" #containerInfoText>
    <h3 *ngIf="subtitulo" class="noResponsive" [fittext] [activateOnResize]="true" [container]="containerInfoText" [minFontSize]="5" [compression]="7">{{subtitulo}}</h3>
    <p *ngIf="seletedInfo" class="noResponsive" [fittext] [activateOnResize]="true" [container]="containerInfoText" [minFontSize]="5" [compression]="8.5" [innerHTML]="seletedInfo"></p>
    <h3 *ngIf="subtitulo" class="responsive" [fittext] [activateOnResize]="true" [container]="containerInfoText" [minFontSize]="5" [compression]="3">{{subtitulo}}</h3>
    <p *ngIf="seletedInfo" class="responsive" [fittext] [activateOnResize]="true" [container]="containerInfoText" [minFontSize]="5" [compression]="4" [innerHTML]="seletedInfo"></p>
  </div>

  <div *ngIf="selectedSection == 'QUE' || selectedSection == 'QUIEN'" id="imagenQUE" [style.background-image]="'url(' +urlFoto+ ')'"></div>


</div>

