<div id="backgroundGaleria">
  <div id="siguiente" (click)="moverScroll('derecha')"><div></div></div>
 <!-- <div  *ngIf="this.diferenceMaxScroll > this.scroll.nativeElement.scrollLeft" id="siguiente" (click)="moverScroll('derecha')"><div></div></div> -->
  <div *ngIf="this.scroll.nativeElement.scrollLeft > 0" id="atras" (click)="moverScroll('izquierda')"><div></div></div>


  <div id="containerFotos" #containerScrollGaleria>
    <div class="fotoContainer" *ngFor="let fotin of galeriaData"><img class="foto"  src="{{fotin.imgSrc}}"><div class="hoverIMG"><h2>{{fotin.titulo}}</h2> <h4>{{fotin.descripcion}}</h4> <a *ngIf="fotin.post" href="{{fotin.post}}" target="_blank">Ver Post</a></div></div>

    <div class="fotoContainer"><img class="foto"  src="/assets/test/1.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/2.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/3.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto" src="/assets/test/4.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/5.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/6.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/7.jpg"><div class="hoverIMG"></div></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/8.jpg"><div class="hoverIMG"></div></div>

  </div>
</div>
