#backgroundGaleria {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(233,30,99 ,0.0);
}
.noResponsive {
  display: block;
}

.responsive{
  display: none;
}
#containerFotos {
  z-index: 1;
  position: absolute;
  top: 14%;
  height: 75%;
  width: 99.50%;
  left: 0.50%;
  background: rgba(0,0,0 ,0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: flex-start;
  overflow: hidden;
}

.fotoContainer {
  height: 45%;
  margin: 0.5% 0.2%;
  text-align: center;
  position: relative;
}

.foto {
  height:100%;
  width: auto;
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
}




.hoverIMG {
  z-index: 999;
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
}

.hoverIMG h2, h4{
  margin: 3% 0;
  color: rgba(255,255,255,1);
}

.hoverIMG a {
  color: rgba(240,240,255,1);
  text-decoration: underline;
}

.hoverIMG:hover {
  opacity: 1;
}

#siguiente {
  z-index: 10;
  position: absolute;
  left: 93.75%;
  width: 6.25%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1),rgba(0,0,0,0.25),rgba(0,0,0,0.1),rgba(0,0,0,0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#siguiente div {
  width: 70%;
  height: 10%;
  background: url("/assets/general_images/arrowDerecha.svg") center no-repeat;
}

#siguiente:hover{
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4),rgba(0,0,0,0.8),rgba(0,0,0,0.4),rgba(0,0,0,0));
}

#atras {
  z-index: 10;
  position: absolute;
  left: 0;
  width: 6.25%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1),rgba(0,0,0,0.25),rgba(0,0,0,0.1),rgba(0,0,0,0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#atras div {
  width: 70%;
  height: 10%;
  background: url("/assets/general_images/arrowIzquierda.svg") center no-repeat;
}

#atras:hover{
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4),rgba(0,0,0,0.8),rgba(0,0,0,0.4),rgba(0,0,0,0));
}




@media only screen and (max-width : 640px) {

  #siguiente {
    display: none;
  }

  #atras{
    display: none;
  }

  .noResponsive {
    display: none;
  }

  .responsive{
    display: block;
  }

  #containerFotos {
    overflow: auto;
  }

}
