<div id="backgroundGaleria">
  <div id="containerFotos">
    <div class="fotoContainer"><img class="foto"  src="/assets/test/1.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/2.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/3.jpg"></div>
    <div class="fotoContainer"><img class="foto" src="/assets/test/4.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/5.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/6.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/7.jpg"></div>
    <div class="fotoContainer"><img class="foto"  src="/assets/test/8.jpg"></div>
  </div>
</div>
