<div id="menuPrincial">
  <div id="logoHED"></div>
  <div class="menuLink"><h2>{{(identidad_data| async)?.navbar.ponentes}}</h2></div>
  <div class="menuLink">{{(identidad_data| async)?.navbar.agenda}}</div>
  <div class="menuLink">{{(identidad_data| async)?.navbar.evento}}</div>
  <div class="menuLink">{{(identidad_data| async)?.navbar.geleria}}</div>
  <div class="menuLink">{{(identidad_data| async)?.navbar.patrocinadores}}</div>
  <div class="menuLink">{{(identidad_data| async)?.navbar.experiencia}}</div>
</div>
