<div id="backgroundGeneral"></div>
<router-outlet></router-outlet>
<app-menu></app-menu>
<app-footer></app-footer>
<div id="grid">
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>

</div>
