#containerAgenta {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(30,150,170,0.7);
}

#dias {
  position: absolute;
  width: 93.75%;
  left: 6.25%;
  top: 15%;
  background: rgba(130,210,150,0.4);
}

.diaGroup {
  display: inline-block;
  background: rgba(180,60,150,0.4);
  color: rgba(255,255,255,0.6);
  margin: 0 2.2%;
}

.diaGroup:hover {
  cursor: pointer;
}

.diaActivo {
  color: rgba(255,255,255,1);
}

.diaGroup h2 {
  margin: 0;
}

.diaGroup p {
  margin: 3% 0 0 0 ;
}

#cuadrosGroup {
  position: absolute;
  width: 93.75%;
  height: 40%;
  left: 6.25%;
  top: 35%;
  background: rgba(130,210,150,0.4);
  overflow: hidden;
}

.cuadritoComponente {

}
