<div id="containerAgenta">
  <div id="dias" #diaDiv *ngIf="agendaData">
    <div class="diaGroup noResponsive" *ngFor="let dia of agendaData" (click)="cambiarDia(dia)" [ngClass]="{'diaActivo': diaSel == dia}">
      <h2 [fittext] [activateOnResize]="true" [container]="diaDiv" [minFontSize]="5" [compression]="2.2">{{dia.dia_semana}}</h2>
      <p [fittext] [activateOnResize]="true" [container]="diaDiv" [minFontSize]="5" [compression]="7">{{dia.fecha}}</p>
    </div>

    <div class="diaGroup responsive" *ngFor="let dia of agendaData" (click)="cambiarDia(dia)" [ngClass]="{'diaActivo': diaSel == dia}">
      <h2 [fittext] [activateOnResize]="true" [container]="diaDiv" [minFontSize]="5" [compression]="0.94">{{dia.dia_semana}}</h2>
      <p [fittext] [activateOnResize]="true" [container]="diaDiv" [minFontSize]="5" [compression]="3">{{dia.fecha}}</p>
    </div>

  </div>



  <div id="cuadrosGroup" [@cuadritosTransition]="permitirCambio" #containerScrollAgenda>
    <div class="barraParaScroll" id="scrollDer" (click)="moverScroll('derecha')"><div></div></div>
    <div class="barraParaScroll" id="scrollIz" (click)="moverScroll('izquierda')"><div></div></div>
    <app-cuadro-info class="cuadritoComponente" *ngFor="let evento of actividades; let first = first; let last = last" [arrayEventos]="evento" [ngClass]="{first: first, last: last }"></app-cuadro-info>
  </div>

</div>
