#containerAgenta {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(30,150,170,0.0);
}

#dias {
  position: absolute;
  width: 93.75%;
  left: 6.25%;
  top: 15%;
  background: rgba(130,210,150,0.0);
}

.diaGroup {
  display: inline-block;
  background: rgba(180,60,150,0.0);
  color: rgba(255,255,255,0.6);
  margin: 0 2.2%;
}




.diaGroup:hover {
  cursor: pointer;
 /* color: rgba(251, 173, 73, 0.9) */
}

.diaActivo {
  color: rgba(251, 173, 73, 0.9)

}

.diaGroup h2 {
  margin: 0;
  user-select: none;
}

.diaGroup p {
  margin: 3% 0 0 0 ;
  user-select: none;
}

#cuadrosGroup {
  padding-left: 6.25%;
  margin: 0;
  position: absolute;
  width: 93.75%;
  height: 40%;
  left: 0;
  top: 35%;
  background: rgba(130,210,150,0.0);
  overflow: hidden;
  white-space: nowrap;
}

.barraParaScroll {
  position: fixed;
  height: 40%;
  width: 6.25%;
  background: rgba(0,0,0,0.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barraParaScroll:hover {
  background: rgba(0,0,0,0.3);
}

#scrollDer {
  right: 0;
}


#scrollDer div {
  width: 60%;
  height: 20%;
  background: url("/assets/general_images/arrowDerecha.svg") center no-repeat;

}

#scrollIz {
  left: 0;
}

#scrollIz div {
  width: 60%;
  height: 20%;
  background: url("/assets/general_images/arrowIzquierda.svg") center no-repeat;
}

.last{
  margin-right: 6.25%;
}
.responsive{
  display: none;
}

.noResponsive {
  display: inline-block;
}


@media only screen and (max-width : 640px) {


  #cuadrosGroup {
    width: 93.75%;
    height: 50%;
    top: 35%;
    background: rgba(130,210,150,0.0);
    overflow: auto;
  }

  .barraParaScroll {
    display: none;
  }

  .diaGroup:hover {
    cursor: none;
  }

  .noResponsive {
    display: none;
  }

  .responsive {
    display:inline-block;
  }

}
