#cuadro {
  width: 26.6%;
  height: 100%;
  background: rgba(200,160,145,0.4);
  display: inline-block;
}

.cuadroMenu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.cuadroLinea {

  width: 100%;
  height: 90%;
  background: rgba(120,70,210,0.5);

}

.cuadroLinea h3, p, h5 {
  margin: 0;
}

#divTituloDescripcion {
  padding: 0 5%;
  background: rgba(0,0,0,0.4);
  height: 90%;

}



#divLodeAbajo {
  padding: 0 5%;
  height: 10%;
  background: rgba(255,255,255,0.5);
  display: flex;
  justify-content: space-between;
}

.barraSeleccionado {
  margin: 0;
  width: 15%;
  height: 30%;
  background: rgba(255,255,255,0.6);
  border-radius: 3px;
}

.barraSeleccionado:hover{
  cursor: pointer;
  background: rgba(255,255,255,0.8);
}

.barraSeleccionadoActive {
  background: rgba(255,255,255,1);
}
