<!--
<div id="containerGeneralPonentes" [style.backgroundImage]="'url('+(identidadData |async)?.ponentes_background+')'">
  <div id="imgCubo" [style.backgroundImage]="'url('+(identidadData |async)?.ponentes_support+')'">

  </div>
  -->
<div id="containerGeneralPonentes">
  <div id="imgCubo" [style.background-image]="'url(' +urlFoto+ ')'" [style.background-position]="imgposition">
  </div>


  <div id="degrade">

  </div>
  <div id="containerSelectorYInfo">
    <div class="containerSelectorPonentes containerNoResponsive"  #containerLi>


      <ul>


        <li *ngFor="let ponente of ponentesData"
            (click)="asignarInfo(ponente.informacion, ponente.nombre, ponente.pais+' / '+ponente.ciudad, ponente.redes.pagina_personal, ponente.redes.behance, ponente.redes.facebook, ponente.redes.twitter, ponente.redes.linkedIn, ponente.cargo, ponente.redes.paginaPersonalAcortada, ponente.src_image, ponente.imagePosition)">
          <a class="textoSeleccion" [ngClass]="{'activeSelect': nombre == ponente.nombre}" [fittext] [activateOnResize]="true" [container]="containerLi" [minFontSize]="5" [compression]="8">{{ponente.nombre }}</a>
        </li>

        <!--
        <li *ngFor="let ponente of ponentesDataLocal"
            (click)="asignarInfo(ponente.info, ponente.nombre, ponente.subfrase, ponente.urlWeb, ponente.urlPortafolio, ponente.urlfacebook, ponente.urlPaloma, ponente.urlLinkedIn, ponente.cargo, ponente.hrefWeb, ponente.urlFoto)">
          <a class="textoSeleccion" [ngClass]="{'activeSelect': nombre == ponente.nombre}" [fittext] [activateOnResize]="true" [container]="containerLi" [minFontSize]="5" [compression]="8">{{ponente.nombre }}</a>
        </li>
       -->


      </ul>

    </div>



    <div class="containerSelectorPonentes containerResponsive"  #containerLiTwo>


      <ul>
        <li *ngFor="let ponente of ponentesData"
            (click)="asignarInfo(ponente.informacion, ponente.nombre, ponente.pais+' / '+ponente.ciudad, ponente.redes.pagina_personal, ponente.redes.behance, ponente.redes.facebook, ponente.redes.twitter, ponente.redes.linkedIn, ponente.cargo, ponente.redes.paginaPersonalAcortada, ponente.src_image)">
          <a class="textoSeleccion" [ngClass]="{'activeSelect': nombre == ponente.nombre}" [fittext] [activateOnResize]="true" [container]="containerLiTwo" [minFontSize]="5" [compression]="3">{{ponente.nombre }}</a>
        </li>
      </ul>

    </div>


    <div class="containerInfoPonente containerNoResponsive" [@desvanecerInfo]="desvanecer" (@desvanecerInfo.done)="animationDone($event)" #containerInfo>
      <!--    <div class="containerInfoPonente containerNoResponsive" [@desvanecerInfo]="desvanecer"  #containerInfo> -->

          <h2 [fittext] [activateOnResize]="true" [container]="containerInfo" [minFontSize]="10" [compression]="2">{{nombre}}</h2>
          <h5 [fittext] [activateOnResize]="true" [container]="containerInfo" [minFontSize]="6" [compression]="7">{{subfrase}}</h5>
            <div id="infoLarga">
          <p  [fittext] [activateOnResize]="true" [container]="containerInfo" [minFontSize]="8" [compression]="11">{{info}}</p>
            </div>
            <div id="divLogosInfo">

          <div id="direccionWeb">
            <a [fittext] [activateOnResize]="true" [container]="containerInfo" [minFontSize]="8" [compression]="7" href="{{urlWeb}}" target="_blank">{{hrefWeb}}</a>
          </div>

              <div id="redesSocialesIcons">
          <div class="linkPortafolio" *ngIf="urlPortafolio"><a href="{{urlPortafolio}}" target="_blank"><div class="behanceLogo"></div></a></div>
          <div class="linkPortafolio" *ngIf="urlfacebook"><a href="{{urlfacebook}}" target="_blank"><div class="facebookLogo"></div></a></div>
          <div class="linkPortafolio" *ngIf="urlPaloma"><a href="{{urlPaloma}}" target="_blank"><div class="twitterLogo"></div></a></div>
          <div class="linkPortafolio" *ngIf="urlLinkedIn"><a href="{{urlLinkedIn}}" target="_blank"><div class="linkedinLogo"></div></a></div>
              </div>

            </div>
      <div id="cargoText">
      <h3  [fittext] [activateOnResize]="true" [container]="containerInfo" [minFontSize]="8" [compression]="10">{{cargo}}</h3>
      </div>
        </div>


        <div class="containerInfoPonente containerResponsive" [@desvanecerInfo]="desvanecer" (@desvanecerInfo.done)="animationDone($event)" #containerInfoTwo>
          <h2 [fittext] [activateOnResize]="true" [container]="containerInfoTwo" [minFontSize]="10" [compression]="2">{{nombre}}</h2>
          <h5 [fittext] [activateOnResize]="true" [container]="containerInfoTwo" [minFontSize]="6" [compression]="4">{{subfrase}}</h5>
          <div id="infoLarga">
            <p  [fittext] [activateOnResize]="true" [container]="containerInfoTwo" [minFontSize]="8" [compression]="3.5">{{info}}</p>
          </div>
          <div id="divLogosInfo">

          <div id="direccionWeb">
            <a [fittext] [activateOnResize]="true" [container]="containerInfoTwo" [minFontSize]="8" [compression]="4" href="{{urlWeb}}" target="_blank">{{hrefWeb}}</a>
          </div>

          <div id="redesSocialesIcons">
            <div class="linkPortafolio" *ngIf="urlPortafolio"><a href="{{urlPortafolio}}" target="_blank"><div class="behanceLogo"></div></a></div>
            <div class="linkPortafolio" *ngIf="urlfacebook"><a href="{{urlfacebook}}" target="_blank"><div class="facebookLogo"></div></a></div>
            <div class="linkPortafolio" *ngIf="urlPaloma"><a href="{{urlPaloma}}" target="_blank"><div class="twitterLogo"></div></a></div>
            <div class="linkPortafolio" *ngIf="urlLinkedIn"><a href="{{urlLinkedIn}}" target="_blank"><div class="linkedinLogo"></div></a></div>
          </div>


        </div>

          <div id="cargoText">
            <h3  [fittext] [activateOnResize]="true" [container]="containerInfoTwo" [minFontSize]="8" [compression]="3">{{cargo}}</h3>
          </div>

        </div>


  </div>
</div>
